.fs-tile {
  box-sizing: border-box;

  .label {
    font-size: 75%;
    color: #A2ADB9;
  }

  .content {
    font-size: 125%;
    color: #393C4A;
  }

  .wrapper {
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    min-width: 100px;
    box-sizing: border-box;
    height: 100%;
  }

  &.theme-dark {
    .label,
    .content {
      color: #fff;
    }
  }
}

@media (max-width: 600px) {
  .fs-tile {
    width: calc(50% - (5px / 2));

    .wrapper {
      width: 100%;
    }
  }
}
