.fs-tile {
  .label {
    font-size: 75%;
    color: #A2ADB9;
  }

  .content {
    font-size: 125%;
    color: #393C4A;
  }

  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
  display: inline-flex;
  flex-direction: column;
  min-width: 100px;
  margin: 2px;


  &.theme-dark {
    .label,
    .content {
      color: #fff;
    }
  }
}


.fs-tiles {
  display: flex;
  flex-wrap: wrap;
}

@mixin fs-tile($theme) {

  $primary: mat-palette($theme);

  .fs-tile.theme-dark {
    background: rgba(mat-color($primary), 1);
  }
}
