.fs-tile {
  .label {
    font-size: 75%;
  }

  .content {
    font-size: 120%;
    padding-top: 5px;
  }

  background-color: #ccc;
  border-radius: 4px;
  padding: 10px;
  color: #fff;
  display: inline-flex;
  flex-direction: column;
  min-width: 100px;
  margin: 2px;
}


.fs-tiles {
  display: flex;
  flex-wrap: wrap;
}

@mixin fs-tile($theme) {

  $primary: mat-palette($theme);

  .fs-tile {
    background: rgba(mat-color($primary), 1);
  }
}
