.fs-tile {
  box-sizing: border-box;
  padding-right: 5px;

  &:last-child {
    padding-right: 0;
  }

  .label {
    font-size: 75%;
    color: #A2ADB9;
  }

  .content {
    font-size: 125%;
    color: #393C4A;
  }

  .wrapper {
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    min-width: 100px;
    margin-top: 5px;
    box-sizing: border-box;
  }


  &.theme-dark {
    .label,
    .content {
      color: #fff;
    }
  }
}


fs-tiles {
  display: flex;
  flex-wrap: wrap;
  margin-top: -5px;
}

@mixin fs-tile($theme) {

  $primary: mat-palette($theme);

  .fs-tile.theme-dark .wrapper {
    background: mat-color($primary);
  }
}


@media (max-width: 600px) {
  .fs-tile {
    width: 50%;

    .wrapper {
      width: 100%;
    }
  }
}
